---
layout: style
---

.btn {
    margin-bottom: 1em;
}

#contact .btn {
    min-width: 22em;
}

@media(max-width:767px) {
    .btn-xl {
        padding: 16px 20px;
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 700;
    }
    #contact .btn {
        min-width: 20em;
    }
}
