<section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Contact Us</h2>
                    <p class="section-subheading text-inverted">Let's keep it simple.<br>Everyone hates contact web forms, so<br>here's an old-fashioned <code>mailto:</code> link button:</p>
                    <div><a href="mailto:{{ site.email }}" class="btn btn-xl">Send us an email</a></div>
                </div>
            </div>
        </div>
    </section>
