<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Services</h2>
                    <h3 class="section-subheading text-muted">If you want it built in Rust, talk to us.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-6">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-solid fa-rocket fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Greenfield systems</h4>
                    <p class="text-muted">Already know Rust is your new platform of choice but don't have the resources yet? We'll get you going and help you transition to in-house skills.</p>
                </div>
                <div class="col-md-6">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fas fa-city fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Brownfield systems</h4>
                    <p class="text-muted">Got an existing system that needs converting / fixing / extending? We aren't afraid of gnarly old systems, in fact we take joy in using pragmatic industry best practice to transform technical debt into technical assets.</p>
                </div>
                <div class="col-md-6">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fas fa-tachometer-alt fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Microservice conversion</h4>
                    <p class="text-muted">For when Ruby / C# etc are too high latency or costing too much in cloud hosting, switch to the incredibly efficient Rust language for a high-perfoming microservice.</p>
                </div>
                <div class="col-md-6">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-users fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Team augmentation & mentoring</h4>
                    <p class="text-muted">For when there's just not enough Rust skills or capacity, or when you just want to level up your team's Rust game.</p>
                </div>
            </div>
        </div>
    </section>