---
layout: blog
---
<div class="row text-center">
  {% for post in site.posts %}
    {% include calc-reading-time.html %}
    {% assign words=post.content %}
    <article class="post">
      <div class="col-md-6 blog">
          <h4 class="blog-heading"><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h4>
          <div class="text-muted entry">
            <span class="post_date">{{ post.date | date: "%B %e, %Y" }}</span>
            |
            <span class="author">{{post.author}}</span>
            |
            <span class="reading_time" title="{{num_words}} words">{{reading_time}}</span>
            <br>
            <br>
          </div>
          <p>
            {{ post.content | markdownify | strip_html | truncatewords: 50 }}
          </p>
          <p class="text-muted">
            <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
          </p>
      </div>
    </article>
  {% endfor %}
</div>
