---
layout: default
---

<section id="blog">
    <div class="container">
        <div class="row" id="blog-header">
            <div class="col-lg-12 text-center blog-heading">
                <h2 class="section-heading"><small style="text-decoration: line-through;">Blog</small> Bliki</h2>
                <p class="section-subheading text-muted"><a href="https://www.martinfowler.com/bliki/WhatIsaBliki.html" target="_blank">Bliki</a> (noun): like a blog and wiki in one. Posts in here will evolve over time.</p>
                <p class="section-subheading text-muted"><a href="{{ site.external_urls.mailing_list }}" target="_blank">Subscribe to the mailing list</a> to get new blog posts and other things we think will be of interest straight to your inbox.</p>
            </div>
        </div>

{{ content }}

    </div>
</section>
